In [1]:
# import required libraries
from bs4 import BeautifulSoup
import re 
import requests
import pandas as pd

In [2]:
# Downloading imdb top 250 movie's data
url = 'http://www.imdb.com/chart/top'
response = requests.get(url)
soup = BeautifulSoup(response.text, 'lxml')

In [3]:
#getting the movies and their info, links , crew, ratings, votes
movies = soup.select('td.titleColumn')
links = [a.attrs.get('href') for a in soup.select('td.titleColumn a')]
crew = [a.attrs.get('title') for a in soup.select('td.titleColumn a')]
ratings = [b.attrs.get('data-value') for b in soup.select('td.posterColumn span[name=ir]')]
votes = [b.attrs.get('data-value') for b in soup.select('td.ratingColumn strong')]

Now I have all the data in lists, now all i have to do is to add them together to 
make the dataframe, but movie names are in a weird shape so I have to loop over them and extract the name from the rubbish as you see below.

In [25]:
movies[:3]

[<td class="titleColumn">
       1.
       <a href="/title/tt0111161/" title="Frank Darabont (dir.), Tim Robbins, Morgan Freeman">The Shawshank Redemption</a>
 <span class="secondaryInfo">(1994)</span>
 </td>,
 <td class="titleColumn">
       2.
       <a href="/title/tt0068646/" title="Francis Ford Coppola (dir.), Marlon Brando, Al Pacino">The Godfather</a>
 <span class="secondaryInfo">(1972)</span>
 </td>,
 <td class="titleColumn">
       3.
       <a href="/title/tt0071562/" title="Francis Ford Coppola (dir.), Al Pacino, Robert De Niro">The Godfather: Part II</a>
 <span class="secondaryInfo">(1974)</span>
 </td>]

In [8]:
movie_info = [] 
for index in range(0, len(movies)):
    movie_string = movies[index].get_text()
    movie = (' '.join(movie_string.split()).replace('.', ''))
    #extracting movie title
    movie_title = movie[len(str(index))+1:-7]
    #search for any string between braces because it's the year as in the cell below
    year = re.search('\((.*?)\)', movie_string).group(1)
    # extracting the place from the text
    place = movie[:len(str(index))-(len(movie))]
     
    data = {"movie_title": movie_title,
            "year": year,
            "place": place,
            "star_cast": crew[index],
            "rating": ratings[index],
            "vote": votes[index],
            "link": links[index]}
    movie_info.append(data)

In [28]:
movie_string = movies[0].get_text()
movie = (' '.join(movie_string.split()).replace('.', ''))
movie

'250 Paris, Texas (1984)'

Make a dataframe that contains the imdb data

In [18]:

data = pd.DataFrame(movie_info)
data.head()

,movie_title,year,place,star_cast,rating,vote,link
0,The Shawshank Redemption,1994,1,"Frank Darabont (dir.), Tim Robbins, Morgan Fre...",9.220860737306785,None,/title/tt0111161/
1,The Godfather,1972,2,"Francis Ford Coppola (dir.), Marlon Brando, Al...",9.14725905437589,None,/title/tt0068646/
2,The Godfather: Part II,1974,3,"Francis Ford Coppola (dir.), Al Pacino, Robert...",8.98092122519619,None,/title/tt0071562/
3,The Dark Knight,2008,4,"Christopher Nolan (dir.), Christian Bale, Heat...",8.974760631150177,None,/title/tt0468569/
4,12 Angry Men,1957,5,"Sidney Lumet (dir.), Henry Fonda, Lee J. Cobb",8.941315356719992,None,/title/tt0050083/

# Benefits of data scrapping

1- Data scrapping makes more data accessible for data analysts

2- It's available for everybody to do.

3- There are a lot of ways and tools to use it

4- In most cases it doesn't cost a lot, so it's pretty cost-efficient